download_cuted_fits/data
download_and_cut_fits/data
drafts
papers
draft.ipynb
__pycache__
.ipynb_checkpoints
data
mnist
embeddings
make_gif.ipynb
rnn.ipynb
trash
	arial.ttf
	embeddings_100ep/
gifs/
	ranger21_tests.ipynb
	runs/
	train_rnn_kfold.py
	train_rnn_kfold_base.py
	train_rnn_kfold_tversky.py
	train_rnn_kfold_wd2dir.py
	umap.ipynb
