download_cuted_fits/data
download_and_cut_fits/data
drafts
papers
draft.ipynb
__pycache__
.ipynb_checkpoints
data
mnist
embeddings
data_visualization.ipynb
make_gif.ipynb
rnn.ipynb
trained_models
trash
visualizations
